/* Centered Password Reset Form Container */
.form-container {
    max-width: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 50px auto;
  }
  
  /* Form Group */
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    font-size: 1.2rem;
  }
  
  /* Input Styling */
  .input-container input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Eye Icon for Password Visibility */
  .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #333;
  }
  
  /* Submit Button */
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  button[type="submit"]:hover {
    background-color: #19ba21;
  }
  
  /* Message Styling */
  div[ngIf="message"] p {
    font-size: 14px;
    color: #4CAF50;
    margin-top: 16px;
  }
  